* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  background-color: #f6f6f6;
}

.container {
  max-width: 1552px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  transform: scale(1);
}
