body {
  display: flex;
  flex-direction: column;
  width: 975px;
  height: 610px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.top-column {
  display: flex;
  width: 100%;
  height: 57px;
  background: linear-gradient(to bottom, #f2f3f5 0%, #f2f3f5 calc(100% - 2px), #e0e0de 100%);
}

.top-bluebar {
  width: 4px;
  height: 30px;
  background-color: #0673bd;
  margin-top: 12px;
  margin-left: 10px;
}

.top-title {
  font-size: 25px;
  font-weight: bold;
  color: #333333;
  margin-top: 12px;
  margin-left: 16px;
  word-spacing: 0.04em;
}

.content {
  flex: 1;
}

.mid-title {
  font-size: 24px;
  font-weight: 400;
  color: #0673bd;
  margin-left: 60px;
  margin-top: 37px;
  margin-bottom: 0px;
  word-spacing: -0.06em;
}

.mid-bar {
  width: 860px;
  height: 4px;
  display: flex;
  margin: 11px 0 24px 58px;
}

.mid-bluebar {
  width: 198px;
  background-color: #0773bb;
}

.mid-greybar {
  width: 662px;
  background-color: #dfdfdf;
}

.main-text {
  padding-left: 78px;
  font-size: 16px;
  text-align: left;
  color: black;
  max-width: 770px;
  margin-bottom: 20px;
  line-height: 1.38;
  letter-spacing: -0.01em;
}

.main-table {
  width: 821px;
  margin-left: 78px;
  border-collapse: collapse;
  font-size: 16px;
}

.main-table th {
  text-align: center;
  border: 2px solid #e7e7e7;
  background-color: #f4f4f4;
  font-weight: 400;
  width: 173px;
  height: 69px;
  letter-spacing: -0.01em;
  padding-top: 1px;
}

.main-table td {
  padding: 10px;
  text-align: left;
  border: 2px solid #e7e7e7;
  background-color: white;
}

.maintable-select {
  position: relative;
  display: inline-block;
  width: 168px;
  margin-right: 7px;
}

.table-select {
  width: 100%;
  height: 43px;
  padding: 10px 8px 8px 13px;
  border: 2px solid #e7e7e7;
  border-radius: 6px;
  font-size: 16px;
  word-spacing: -0.1em;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path fill="black" d="M0 0l5 6 5-6z"/></svg>') no-repeat;
  background-position: calc(100% - 12px) center;
  background-size: 10px;
}

.maintable-select::before {
  content: '';
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 100%;
  background-color: #e7e7e7;
  pointer-events: none;
}

.main-table input[type="text"] {
  width: 90%;
  padding: 1px 0px 0px 15px;
  color: #000000;
  border: none;
  font-size: 16px;
}

.search-makebutton {
  display: flex;
  margin-top: 47px;
  margin-left: 289px;
}

.search-button {
  background-color: #1172bb;
  color: white;
  width: 400px;
  height: 59px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 0 0 8px #f4f4f4, 0 0 0 9px #c2d9e8;
}

.search-button::before {
  content: '\25B6';
  color: white;
  font-size: 10px;
  margin-right: 13px;
}