body {
  display: flex;
  flex-direction: column;
  width: 975px;
  height: 610px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.top-column {
  display: flex;
  width: 100%;
  height: 57px;
  background: linear-gradient(to bottom, #f2f3f5 0%, #f2f3f5 calc(100% - 2px), #e0e0de 100%);
  align-items: center;
}

.top-bluebar {
  width: 5px;
  height: 31px;
  background-color: #0673bd;
  margin-left: 9px;
}

.top-title {
  font-size: 20px;
  font-weight: bond;
  color: #333333;
  margin-left: 16px;
}

.content {
  flex: 1;
}

.mid-title {
  font-size: 20px;
  color: #0673bd;
  margin-left: 62px;
  margin-top: 42px;
}

.mid-bar {
  width: 861px;
  height: 5px;
  display: flex;
  margin: 10px auto 0;
}

.mid-bluebar {
  width: 198px;
  background-color: #0773bb;
}

.mid-greybar {
  width: 663px;
  background-color: #dfdfdf;
}